@import url(style-tablet-book.css);
@import url(style-phones.css);

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 12px;
    overflow-x: hidden;
}

/* CABEÇALHO */

.header {
    position: absolute;
    width: 1440px;
    height: 117px;
    left: 0px;
    top: 0px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
.logo-primary {
    position: absolute;
    width: 69px;
    height: 71px;
    left: 82px;
    top: 20px;
    background: url(dindin-logo-white.png);
}
.logo-secondary {
    position: absolute;
    width: 164px;
    height: 64px;
    left: 162px;
    top: 37px;
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
}
nav {
    display: flex;
    position: absolute;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    top: 37px;
    left: 1028px;
    right: 103px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FDFDFD;
}
nav ul {
    display: flex;
}
nav ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30;
    font-weight: 700;
    padding: 10px 7px 30px;
    list-style-type: none;
    float: right;
}
nav ul li a {
    margin: 0px 10px;
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
}
a .contact {
    position: absolute;
    width: 95px;
    height: 23px;
    left: 1242px;
    top: 47px;
}
a .blog {
    position: absolute;
    width: 55px;
    height: 23px;
    left: 1150px;
    top: 47px;
}
a .course {
    position: absolute;
    width: 95px;
    height: 23px;
    left: 1242px;
    top: 47px;
}

/* SECCÃO PRINCIPAL */

.banner-left h1 {
    display: flex;
    float: left;
    position: absolute;
    width: 488px;
    height: 216px;
    left: 206px;
    top: 242px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}
.container {
    display: flex;
    background-color: #F5F5F5;
}
.banner-left p {
    position: absolute;
    width: 462px;
    height: 62px;
    left: 207px;
    top: 477px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #555555;
}
.banner-right img{
    display: flex;
    width: 501px;
    height: 511px;
    top: 252px;
    left: 733px;
    position: absolute;
}
.btn-primary {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 258px;
    height: 51px;
    left: 207px;
    top: 577px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;
}
.btn-primary:hover {
    background-color: #FF4081;
    color: #FFFFFF;
}

/* SECCÃO DE CURSOS */

.container-courses {
    position: absolute;
    width: 1440px;
    height: 730px;
    left: 0px;
    top: 829px;
    background: #F7F7F7;
}
.logo-investment {
    position: absolute;
    width: 288px;
    height: 270px;
    left: 156px;
    top: 109px;
}
.title-logo-investment {
    position: absolute;
    width: 344px;
    height: 29px;
    left: 128px;
    top: 424px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;
    color: #FF4081;
}
.paragraph-logo-investiment {
    position: absolute;
    width: 293px;
    height: 60px;
    left: 154px;
    top: 476px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.btn-logo-investment {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    width: 233px;
    height: 51px;
    left: 184px;
    top: 562px;
    background: #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.btn-logo-investment:hover {
    background-color: #FFFFFF;
    color: #FF4081;
    border: 2px solid #FF4081;    
}
.logo-save {
    position: absolute;
    width: 238px;
    height: 270px;
    left: 621px;
    top: 109px;
}
.title-logo-save {
    position: absolute;
    width: 267px;
    height: 29px;
    left: 606px;
    top: 422px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    /* identical to box height */
    text-align: center;
    color: #FF4081;
}
.paragraph-logo-save {
    position: absolute;
    width: 293px;
    height: 60px;
    left: 593px;
    top: 474px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.btn-logo-save {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    width: 233px;
    height: 51px;
    left: 623px;
    top: 560px;
    background: #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.btn-logo-save:hover {
    background-color: #FFFFFF;
    color: #FF4081;
    border: 2px solid #FF4081;    
}
.logo-independence {
    position: absolute;
    left: 1066px;
    top: 109px;
}
.title-logo-independence {
    position: absolute;
    width: 304px;
    height: 29px;
    left: 1007px;
    top: 422px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}
.paragraph-logo-independence {
    position: absolute;
    width: 293px;
    height: 60px;
    left: 1013px;
    top: 474px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.btn-logo-independence {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    width: 233px;
    height: 51px;
    left: 1043px;
    top: 560px;
    background: #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.btn-logo-independence:hover {
    background-color: #FFFFFF;
    color: #FF4081;
    border: 2px solid #FF4081;    
}

/* SECCÃO DE COMENTARIOS */

.container-comments {
    position: absolute;
    width: 478px;
    height: 50px;
    left: 128px;
    top: 1678px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    color: #009688;
    background-color: #F5F5F5;
}
.comment-avatar {
    box-sizing: border-box;
    position: absolute;
    width: 104px;
    height: 104px;
    left: 139px;
    top: 1806px;
    background: #FFFFFF;
    border: 2px solid #FF4081;
    border-radius: 50px;
    background: url(image_6.png);
}
.paragraph-comment {
    position: absolute;
    width: 363px;
    height: 70.27px;
    left: 260px;
    top: 1806px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.name-comment {
    position: absolute;
    width: 76px;
    height: 23.42px;
    left: 260px;
    top: 1886.58px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}
.comment-avatar-1 {
    box-sizing: border-box;
    position: absolute;
    width: 104px;
    height: 104px;
    left: 720px;
    top: 1806px;
    background: #FFFFFF;
    border: 2px solid #FF4081;
    border-radius: 50px;
    background: url(image_5.png);
}
.paragraph-comment-1 {
    position: absolute;
    width: 363px;
    height: 70.27px;
    left: 852px;
    top: 1806px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}   
.name-comment-1 {
    position: absolute;
    width: 128px;
    height: 23.42px;
    left: 852px;
    top: 1886.58px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}
.comment-avatar-2 {
    box-sizing: border-box;
    position: absolute;
    width: 104px;
    height: 104px;
    left: 128px;
    top: 1996px;
    background: #FFFFFF;
    border: 2px solid #FF4081;
    border-radius: 50px;
    background: url(image_7.png);
}   
.paragraph-comment-2 {
    position: absolute;
    width: 363px;
    height: 73.65px;
    left: 255px;
    top: 1996px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.name-comment-2 {
    position: absolute;
    width: 175px;
    height: 24.55px;
    left: 255px;
    top: 2080.45px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #000000;
}
.comment-avatar-3 {
    box-sizing: border-box;
    position: absolute;
    width: 104px;
    height: 104px;
    left: 720px;
    top: 1996px;
    background: #FFFFFF;
    border: 2px solid #FF4081;
    border-radius: 50px;
    background: url(image_8.png);
    border-radius: 59px;
}
.paragraph-comment-3 {
    position: absolute;
    width: 363px;
    height: 71.62px;
    left: 840px;
    top: 1996px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.name-comment-3 {
    position: absolute;
    width: 124px;
    height: 23.87px;
    left: 840px;
    top: 2079.13px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

/* SESSAO DE OUTROS LINKS */

.final-section {
    position: absolute;
    width: 1440px;
    height: 730px;
    left: 0px;
    top: 2280px;
    background: #F7F7F7;
}
.final-section .title-final-section {
    position: absolute;
    width: 530px;
    height: 43px;
    left: 128px;
    top: 91px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
}
.img-final-1 {
    position: absolute;
    width: 319px;
    height: 193px;
    left: 128px;
    top: 207px;
    background: #C4C4C4;
}
.text-final-section-1 a h1 {
    position: absolute;
    width: 319px;
    height: 114px;
    left: 128px;
    top: 411px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;
    color: #009688;
}
.text-final-section-1 a {
    text-decoration: none;
}
.text-final-section-1 a p {
    position: absolute;
    width: 319px;
    height: 84px;
    left: 128px;
    top: 441px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}

.img-final-2 {
    position: absolute;
    width: 319px;
    height: 193px;
    left: 556px;
    top: 207px;
    background: #C4C4C4;
}
.text-final-section-2 a h1 {
    position: absolute;
    width: 319px;
    height: 114px;
    left: 556px;
    top: 411px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;
    color: #009688;
}
.text-final-section-2 a {
    text-decoration: none;
}
.text-final-section-2 a p {
    position: absolute;
    width: 319px;
    height: 84px;
    left: 556px;
    top: 441px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}
.btn-final-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    position: absolute;
    width: 289px;
    height: 51px;
    left: 582px;
    top: 626px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
}
.btn-final-section:hover {
    background: #FF4081;
    color: #FFFFFF;
}
.img-final-3 {
    position: absolute;
    width: 319px;
    height: 193px;
    left: 984px;
    top: 207px;
    background: #C4C4C4;
}
.text-final-section-3 a h1 {
    position: absolute;
    width: 319px;
    height: 114px;
    left: 984px;
    top: 411px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;
    color: #009688;
}
.text-final-section-3 a {
    text-decoration: none;
}
.text-final-section-3 a p {
    position: absolute;
    width: 319px;
    height: 84px;
    left: 984px;
    top: 441px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}

/* SESSAO DE RODAPE */

.footer {
    position: absolute;
    width: 1440px;
    height: 207px;
    top: 3010px;
    background: #419488;
}
.logo-footer {
    position: absolute;
    width: 238px;
    height: 101.43px;
    top: 53px;
    left: 128px;
    right: 84.27%;
    bottom: 25.4%;
    background: url(dindin-logo-white.png);
}
.logo-secondary-footer {
    position: absolute;
    width: 188px;
    height: 53px;
    top: 69px;
    left: 242px;
    right: 69.44%;
    bottom: 43.48%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 66px;
    line-height: 76px;
    color: #FFFFFF;
}
.text-footer p {
    position: absolute;
    width: 168px;
    height: 22px;
    top: 129px;
    left: 249px;
    right: 71.04%;
    bottom: 27.05%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}
.link-footer {
    position: absolute;
    left: 43.26%;
    right: 51.81%;
    top: 25.6%;
    bottom: 34.3%;
}
.link-footer li {
    list-style-type: none;
    margin-bottom: 7px;
}
.link-footer a {
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.btn-primary-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    position: absolute;
    left: 70.42%;
    right: 9.51%;
    top: 24.15%;
    bottom: 51.21%;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.btn-primary-footer:hover {
    background: #FFFFFF;
    color: #419488;
}
.btn-secundary-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    position: absolute;
    left: 70.42%;
    right: 9.51%;
    top: 55.07%;
    bottom: 20.29%;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.btn-secundary-footer:hover {
    background: #FFFFFF;
    color: #419488;
}

/* CSS DA PÁGINA CONTATO */

.banner-left-contact h1 {
    position: absolute;
    left: 136px;
    right: 68.95%;
    top: 222px;
    bottom: 89.02%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    color: #FF4081;
}
#name {
    box-sizing: border-box;
    position: absolute;
    width: 493px;
    height: 32px;
    top: 246px;
    left: 100px;
    margin-top: 66.89px;
    margin-left: 37.56px;
    text-indent: 20px;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    outline: 0;
}
#name::placeholder {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
}
#email {
    box-sizing: border-box;
    text-indent: 20px;
    position: absolute;
    width: 493px;
    height: 32px;
    top: 293px;
    left: 100px;
    margin-left: 37.56px;
    margin-top: 71.96px;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    outline: 0;
}
#email::placeholder {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
}
#message {
    box-sizing: border-box;
    padding-top: 20px;
    padding: 20px;
    position: absolute;
    width: 493px;
    height: 193px;
    top: 339px;
    left: 100px;
    margin-left: 37.56px;
    margin-top: 70.93px;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    outline: 0;
    resize: none;
}
#message::placeholder {
    display: flex;
    align-items: center;
    position: absolute;
    left: 21px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-transform: lowercase;
    color: #58555D;
}
#submit {
    position: absolute;
    Width: 108px;
    Height:32px;
    Top: 547px;
    Left: 100px;
    margin-left: 37.56px;
    margin-top: 69.79px;
    border: none;
    cursor: pointer;
    background: #FF4081;
    border-radius: 50px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    outline: 0;
    color: #FFFFFF;
}
#submit:hover {
    background: #FFFFFF;
    color: #FF4081;
    border: 2px solid #FF4081;
}
.banner-right-contact {
    position: absolute;
    width: 444px;
    height: 444px;
    left: 833px;
    top: 199px;
    background: url(img/ilustra-contato.png);
}

/* RODAPE DOS CONTATOS */

.footer-contact {
    position: absolute;
    top: 742px;
    width: 1440px;
    height: 207px;
    background: #419488;
}

/* CSS DA PÁGINA CURSOS */

.course-title {
    position: absolute;
    width: 263px;
    height: 69px;
    left: 82px;
    top: 198px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 69px;
    text-transform: capitalize;
    color: #FF4081;
}
.paragraph-title {
    position: absolute;
    width: 317px;
    height: 23px;
    left: 82px;
    top: 267px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}
.img-course-1 {
    position: absolute;
    width: 380px;
    height: 381px;
    left: 112px;
    top: 385px;
}
.course-description-1 {
    position: absolute;
    width: 512px;
    height: 40px;
    left: 545px;
    top: 406px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}
.course-paragraph-1 {
    position: absolute;
    width: 724px;
    height: 105px;
    left: 545px;
    top: 483px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.btn-course-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    width: 233px;
    height: 51px;
    left: 545px;
    top: 641px;
    background: #419488;
    border-radius: 62px;
    position: absolute;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.btn-course-1:hover {
    background: #FFFFFF;
    color: #419488;
    border: 2px solid #419488;
}
.line-1 {
    position: absolute;
    width: 1244px;
    height: 5px;
    left: 82px;
    top: 834px;
    background: #C4C4C4;
}
.img-course-2 {
    position: absolute;
    width: 380px;
    height: 385px;
    left: 112px;
    top: 946px;
}
.course-description-2 {
    position: absolute;
    width: 373px;
    height: 40px;
    left: 545px;
    top: 947px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #FF4081;
}
.course-paragraph-2 {
    position: absolute;
    width: 724px;
    height: 105px;
    left: 545px;
    top: 1024px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.btn-course-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    width: 233px;
    height: 51px;
    left: 545px;
    top: 1199px;
    background: #2E948A;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.btn-course-2:hover {
    background: #FFFFFF;
    color: #2E948A;
    border: 2px solid #2E948A;
}
.line-2 {
    position: absolute;
    width: 1244px;
    height: 5px;
    left: 98px;
    top: 1424px;
    background: #C4C4C4;
}
.img-course-3 {
    position: absolute;
    width: 380px;
    height: 498px;
    left: 128px;
    top: 1522px;
}
.course-description-3 {
    position: absolute;
    width: 425px;
    height: 40px;
    left: 534px;
    top: 1581px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #FF4081;
}
.course-paragraph-3 {
    position: absolute;
    width: 724px;
    height: 105px;
    left: 560px;
    top: 1658px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.btn-course-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    width: 233px;
    height: 51px;
    left: 561px;
    top: 1789px;
    background: #2E948A;
    border-radius: 62px;
    position: absolute;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.btn-course-3:hover {
    background: #FFFFFF;
    color: #2E948A;
    border: 2px solid #2E948A;
}

/* RODAPE CURSOS */

.footer-course {
    position: absolute;
    top: 2222px;
    width: 1440px;
    height: 207px;
    background: #419488;
}

/* PAGINA DE BLOG */

.banner-left-blog {
    position: absolute;
    width: 512px;
    height: 108px;
    left: 239px;
    top: 239px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 54px;
    color: #009688;
}
.banner-left-blog p {
    position: absolute;
    width: 461px;
    height: 110px;
    top: 145px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.banner-right-blog {
    position: absolute;
    width: 405px;
    height: 405px;
    left: 825px;
    top: 165px;
    background: url(img/ilustra-blog.png);
}
.body-blog {
    position: absolute;
    width: 1440px;
    height: 1712px;
    left: 0px;
    top: 659px;
    background: #F7F7F7;
}
.img-blog-1 {
    position: absolute;
    width: 518px;
    height: 259px;
    left: 171px;
    top: 109px;
    background: #C4C4C4;
}
.text-blog-1 h1 {
    position: absolute;
    width: 455px;
    height: 34px;
    left: 171px;
    top: 387px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #FF4081;
}
.text-blog-1 p {
    position: absolute;
    width: 516px;
    height: 80px;
    left: 173px;
    top: 440px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.img-blog-2 {
    position: absolute;
    width: 518px;
    height: 259px;
    left: 809px;
    top: 109px;
    background: #C4C4C4;
}
.text-blog-2 h1 {
    position: absolute;
    width: 455px;
    height: 34px;
    left: 809px;
    top: 387px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #FF4081;
}
.text-blog-2 p {
    position: absolute;
    width: 516px;
    height: 80px;
    left: 811px;
    top: 440px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.img-blog-3 {
    position: absolute;
    width: 518px;
    height: 259px;
    left: 171px;
    top: 620px;
    background: #C4C4C4;
}
.text-blog-3 h1 {
    position: absolute;
    width: 455px;
    height: 34px;
    left: 171px;
    top: 898px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #FF4081;
}
.text-blog-3 p {
    position: absolute;
    width: 516px;
    height: 80px;
    left: 173px;
    top: 951px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.img-blog-4 {
    position: absolute;
    width: 518px;
    height: 259px;
    left: 809px;
    top: 620px;
    background: #C4C4C4;
}
.text-blog-4 h1 {
    position: absolute;
    width: 455px;
    height: 34px;
    left: 809px;
    top: 898px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #FF4081;
}
.text-blog-4 p {
    position: absolute;
    width: 516px;
    height: 80px;
    left: 811px;
    top: 951px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.img-blog-5 {
    position: absolute;
    width: 518px;
    height: 259px;
    left: 171px;
    top: 1131px;
    background: #C4C4C4;
}
.text-blog-5 h1 {
    position: absolute;
    width: 455px;
    height: 34px;
    left: 171px;
    top: 1409px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #FF4081;
}
.text-blog-5 p {
    position: absolute;
    width: 516px;
    height: 80px;
    left: 173px;
    top: 1462px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.img-blog-6 {
    position: absolute;
    width: 518px;
    height: 259px;
    left: 809px;
    top: 1131px;
    background: #C4C4C4;
}
.text-blog-6 h1 {
    position: absolute;
    width: 455px;
    height: 34px;
    left: 809px;
    top: 1409px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #FF4081;
}
.text-blog-6 p {
    position: absolute;
    width: 516px;
    height: 80px;
    left: 811px;
    top: 1462px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}

/* RODAPE BLOG */

.footer-blog {
    position: absolute;
    width: 1440px;
    height: 207px;
    top: 2371px;
    background: #419488;
}

/* PAGINA CURSOS-INTERNO */

.banner-left-investment h1 {
    position: absolute;
    width: 512px;
    height: 126px;
    left: 202px;
    top: 210px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 63px;
    color: #FF4081;
}
.banner-left-investment p {
    position: absolute;
    width: 461px;
    height: 186px;
    left: 202px;
    top: 358px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.banner-right-investment {
    position: absolute;
    width: 380px;
    height: 381px;
    left: 751px;
    top: 197px;
}
.body-investment {
    position: absolute;
    width: 1440px;
    height: 1235px;
    left: 0px;
    top: 659px;
    background: #F7F7F7;
}
.video-1 {
    box-sizing: border-box;
    position: absolute;
    width: 462px;
    height: 261px;
    left: 213px;
    top: 75px;
    border: 3px solid #8E8E8E;
}
.text-video-1 {
    position: absolute;
    width: 512px;
    height: 40px;
    left: 751px;
    top: 75px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}
.paragraph-video-1 {
    position: absolute;
    width: 501px;
    height: 195px;
    left: 751px;
    top: 141px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.line-video-1 {
    position: absolute;
    width: 1244px;
    height: 3px;
    left: 98px;
    top: 409px;
    background: #C4C4C4;
}
.video-2 {
    box-sizing: border-box;
    position: absolute;
    width: 462px;
    height: 261px;
    left: 212px;
    top: 487px;
    border: 3px solid #8E8E8E;
}
.text-video-2 {
    position: absolute;
    width: 106px;
    height: 40px;
    left: 750px;
    top: 487px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}
.paragraph-video-2 {
    position: absolute;
    width: 501px;
    height: 195px;
    left: 750px;
    top: 553px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.line-video-2 {
    position: absolute;
    width: 1244px;
    height: 3px;
    left: 98px;
    top: 821px;
    background: #C4C4C4;
}
.video-3 {
    box-sizing: border-box;
    position: absolute;
    width: 462px;
    height: 261px;
    left: 212px;
    top: 899px;
    border: 3px solid #8E8E8E;
}
.text-video-3 {
    position: absolute;
    width: 512px;
    height: 40px;
    left: 750px;
    top: 899px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}
.paragraph-video-3 {
    position: absolute;
    width: 501px;
    height: 195px;
    left: 750px;
    top: 965px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}

/* RODAPE CURSO-INTERNO */

.footer-courses {
    position: absolute;
    width: 1440px;
    height: 207px;
    top: 1894px;
    background: #419488;
}

/* PAGINA CURSOS */

.banner-left-save h1 {
    position: absolute;
    width: 512px;
    height: 126px;
    left: 202px;
    top: 210px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 63px;
    color: #FF4081;
}
.banner-left-save p {
    position: absolute;
    width: 461px;
    height: 186px;
    left: 202px;
    top: 358px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.banner-right-save {
    position: absolute;
    width: 380px;
    height: 385px;
    left: 751px;
    top: 197px;
}

.banner-left-independence h1 {
    position: absolute;
    width: 512px;
    height: 126px;
    left: 202px;
    top: 210px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 63px;
    color: #FF4081;
}
.banner-left-independence p {
    position: absolute;
    width: 461px;
    height: 186px;
    left: 202px;
    top: 358px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
.banner-right-independence {
    position: absolute;
    width: 380px;
    height: 498px;
    left: 751px;
    top: 197px;
}

/* PAGINA POST */

.header-post h1 {
    position: absolute;
    width: 758px;
    height: 46px;
    left: 310px;
    top: 228px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FF4081;
}
.header-post p {
    position: absolute;
    width: 200px;
    height: 21px;
    left: 620px;
    top: 286px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #9D9D9D;
}
.header-post img {
    position: absolute;
    width: 1032px;
    height: 465px;
    left: 204px;
    top: 381px;
    background: #C4C4C4;
}
.footer-post {
    position: absolute;
    width: 1440px;
    height: 207px;
    top: 2981px;
    background: #419488;
}
.p1 {
    position: absolute;
    width: 1032px;
    height: 1061px;
    left: 204px;
    top: 910px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'kern' off;
    color: #000000;
}
.body-post .h1 {
    position: absolute;
    width: 758px;
    height: 46px;
    left: 204px;
    top: 1280px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #2E948A;
}
.p2 {
    position: absolute;
    width: 1032px;
    height: 1061px;
    left: 204px;
    top: 1340px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'kern' off;
    color: #000000;
}
.body-post .h2 {
    position: absolute;
    width: 758px;
    height: 46px;
    left: 204px;
    top: 1630px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #2E948A;
}
.p3 {
    position: absolute;
    width: 1032px;
    height: 1061px;
    left: 204px;
    top: 1690px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'kern' off;
    color: #000000;
}
.container-section-courses-2 {
    position: absolute;
    width: 1440px;
    height: 899px;
    left: 0px;
    top: 2082px;
    background: #F7F7F7;
}
.container-courses-2-title {
    position: absolute;
    width: 528px;
    height: 57px;
    left: 456px;
    top: 79px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FF4081;
}
.logo-investment-post {
    position: absolute;
    width: 288px;
    height: 279.06px;
    left: 156px;
    top: 237px;
}
.title-logo-investment-post {
    position: absolute;
    width: 344px;
    height: 35.71px;
    left: 128px;
    top: 568.16px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}
.paragraph-logo-investiment-post {
    position: absolute;
    width: 293px;
    height: 73.89px;
    left: 154px;
    top: 632.2px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.btn-logo-investment-post {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 233px;
    height: 62.81px;
    left: 184px;
    top: 738.11px;
    background: #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.btn-logo-investment-post:hover {
    background: #FFFFFF;
    color: #FF4081;
    border: 2px solid #FF4081;
}
.logo-save-post {
    position: absolute;
    width: 238px;
    height: 279.06px;
    left: 623px;
    top: 237px;
}
.title-logo-save-post {
    position: absolute;
    width: 267px;
    height: 35.71px;
    left: 606px;
    top: 565.7px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}
.paragraph-logo-save-post {
    position: absolute;
    width: 293px;
    height: 73.89px;
    left: 593px;
    top: 629.73px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.btn-logo-save-post {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 233px;
    height: 62.81px;
    left: 623px;
    top: 735.64px;
    background: #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.btn-logo-save-post:hover {
    background: #FFFFFF;
    color: #FF4081;
    border: 2px solid #FF4081;
}
.logo-independence-post {
    position: absolute;
    width: 187px;
    height: 279.06px;
    left: 1066px;
    top: 237.16px;
}
.title-logo-independence-post {
    position: absolute;
    width: 304px;
    height: 35.71px;
    left: 1007px;
    top: 565.7px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #FF4081;
}
.paragraph-logo-independence-post {
    position: absolute;
    width: 293px;
    height: 73.89px;
    left: 1013px;
    top: 629.73px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.btn-logo-independence-post {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    width: 233px;
    height: 62.81px;
    left: 1043px;
    top: 735.64px;
    background: #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.btn-logo-independence-post:hover {
    background: #FFFFFF;
    color: #FF4081;
    border: 2px solid #FF4081;
}
